.glass {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  /* box-shadow: 0 4px 30px #4747470b; */
  box-shadow: 0 4px 30px #001e8c3d;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: max(50%, 600px);
  min-width: max-content;
  margin-top: 5px;
  @apply h-max border-4 border-gray-50 shrink-0 rounded-3xl py-10 px-2;
}

.profile {
  border-color: #4a71ff;
  transition: all 0.3s;
  @apply border-4 w-[135px] h-[135px] rounded-full shadow-lg hover:border-blue-900 my-5 mx-auto;
}

.glass.profile-page {
  margin-top: 0px;
  width: min(80%, 700px) !important;
}

.profile label {
  width: 100%;
  height: 100%;
}

.profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  padding: 3px;
}

.textbox-input {
  @apply border-0 px-5 py-4 rounded-xl w-3/4 shadow-sm text-base;
  @apply focus:outline-none;
}

.otp-input {
  border: 1px solid transparent;
  border-radius: 8px;
  width: 54px;
  height: 54px;
  color: blue;
  font-weight: 700;
  caret-color: blue;
  border: 1px solid rgb(205, 205, 255);
  width: 60px !important;
  height: 60px !important;
  font-size: 1.4rem !important;
  margin: 0px 5px;
}

.otp-input:focus {
  border: 1px solid blue;
  outline: none;
}

.btn {
  background-color: #4a71ff !important;
  transition: 0.3s;
  @apply border bg-indigo-500 w-3/4 py-4 rounded-lg text-gray-50 text-lg shadow-sm text-center;
}

.btn:hover {
  background-color: #003aa7 !important;
}

.link {
  font-weight: bold;
}

.link:hover {
  text-decoration: underline;
}

.link:active {
  text-underline-offset: 3px;
}

input[type='file'] {
  display: none;
}

@media (max-width: 720px) {
  .glass {
    width: 95% !important;
  }
  .glass.profile-page {
    width: 95% !important;
  }

  .otp-input {
    width: 50px !important;
    height: 50px !important;
    font-size: 1.2rem !important;
    margin: 0px 3px;
  }
}

@media (max-width: 600px) {
  .name {
    flex-direction: column;
    width: 100% !important;
    align-items: center;
    justify-content: center;
    gap: 20px !important;
  }

  .textbox-input,
  .btn {
    width: 85% !important;
  }
}

@media (max-width: 420px) {
  .otp-input {
    width: 35px !important;
    height: 35px !important;
    font-size: 1.1rem !important;
    margin: 0px 3px;
  }
}
